@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  color: #fdfdfd !important;
  font-weight: bolder;
}

p {
  font-size: 1rem;
}

body {
  color: #fdfdfd;
  background-color: #292929;
}

header nav.bg-grey {
  background-color: #1a1a1a;
  padding: 0.8rem 0;
}

header nav .container a {
  color: #fdfdfd !important ;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

header nav .container .collapse ul li a:hover {
  color: #2c0dda !important ;
  font-weight: bold;
  transition: ease-in-out 0.5;
}

header nav .container .collapse ul li a:hover::after {
  content: "";
  display: block;
  border-bottom: 2px solid #2912ad;
  padding-bottom: 1.3rem;
  margin: -1rem auto;
}

section.beranda {
  height: 100vh;
}

section.beranda span {
  color: #0245fc;
}

a.btn-primary {
  background-color: #fdfdfd !important;
  color: #292929;
  border: none;
  border-radius: 40px;
}

a.btn-primary:hover {
  background-color: #0245fc !important;
  color: #fdfdfd;
  box-shadow: 2px 2px 14px #0245fc;
}

section.beranda img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: ease-in-out 0.2s;
  filter: grayscale(100%);
}

section.tentang-saya {
  background-color: #1a1a1a;
  margin-top: 9rem;
}

section.tentang-saya .container .row img {
  filter: grayscale(100%);
  transition: all 0.2s;
}

section.tentang-saya .container .row img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  box-shadow: 2px 2px 14px #0245fc;
}

.card {
  background-color: #1a1a1a;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 2px 2px 14px #0245fc;
}

.img-client {
  filter: grayscale(100%);
  transition: all 0.2s;
}

.img-client:hover {
  cursor: pointer;
  filter: grayscale(0%);
  box-shadow: 2px 2px 14px #0245fc;
}

section.client {
  background-color: #1a1a1a;
}

section.contact {
  background-color: #1a1a1a;
}

footer ul li a {
  color: #fdfdfd !important;
  transition: all 0.2s;
}

footer ul li a:hover {
  color: #0245fc !important;
}

.sosmed a {
  font-size: 1.5rem;
  color: #fdfdfd !important;
  transition: all 0.2s;
}

.sosmed a:hover {
  font-size: 1.5rem;
  color: #0245fc !important;
}
